IDI_ICON_BACK ICON "icons/classic/back.ico"
IDI_ICON_COPY ICON "icons/classic/copy.ico"
IDI_ICON_DELETE ICON "icons/classic/delete.ico"
IDI_ICON_FOLDER ICON "icons/classic/folder.ico"
IDI_ICON_SYMLINK ICON "icons/classic/symlink.ico"
IDI_ICON_DATABASE ICON "icons/classic/database.ico"
IDI_ICON_FORWARD ICON "icons/classic/forward.ico"
IDI_ICON_LOCAL_REGISTRY ICON "icons/classic/local-registry.ico"
IDI_ICON_OFFLINE_REGISTRY ICON "icons/classic/offline-registry.ico"
IDI_ICON_PASTE ICON "icons/classic/paste.ico"
IDI_ICON_REDO ICON "icons/classic/redo.ico"
IDI_ICON_REFRESH ICON "icons/classic/refresh.ico"
IDI_ICON_REMOTE_REGISTRY ICON "icons/classic/remote-registry.ico"
IDI_ICON_REPLACE ICON "icons/classic/replace.ico"
IDI_ICON_SEARCH ICON "icons/classic/search.ico"
IDI_ICON_TEXT ICON "icons/classic/text.ico"
IDI_ICON_BINARY ICON "icons/classic/binary.ico"
IDI_ICON_UNDO ICON "icons/classic/undo.ico"
IDI_ICON_UP ICON "icons/classic/up.ico"
IDI_ICON_FOLDER_SIM ICON "icons/classic/folder-sim.ico"
IDI_ICON_FOLDER_DENIED ICON "icons/classic/folder-denied.ico"
IDI_ICON_TRACE ICON "icons/classic/trace.ico"
IDI_ICON_DATABASE_DENIED ICON "icons/classic/database-denied.ico"
IDI_ICON_ROOT_KEYS ICON "icons/root-keys.ico"
IDI_ICON_LIGHT_GRID ICON "icons/grid-light.ico"
IDI_ICON_DARK_GRID ICON "icons/grid-dark.ico"
IDI_ICON_LIGHT_GO ICON "icons/go-light.ico"
IDI_ICON_DARK_GO ICON "icons/go-dark.ico"
