IDD_COMPARE DIALOGEX 0, 0, 560, 159
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Compare Registries"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "First Entry",IDC_STATIC,8,6,544,58
    LTEXT           "Source:",IDC_STATIC,16,20,36,8
    COMBOBOX        IDC_COMPARE_LEFT_SOURCE,60,18,100,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "File:",IDC_COMPARE_LEFT_FILE_LABEL,16,33,40,8
    EDITTEXT        IDC_COMPARE_LEFT_FILE,60,31,411,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_COMPARE_LEFT_BROWSE,476,31,52,11
    LTEXT           "Key:",IDC_STATIC,16,46,40,8
    COMBOBOX        IDC_COMPARE_LEFT_KEY,60,44,410,120,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Recursive",IDC_COMPARE_LEFT_RECURSIVE,478,46,70,10

    GROUPBOX        "Second Entry",IDC_STATIC,8,67,544,58
    LTEXT           "Source:",IDC_STATIC,16,81,36,8
    COMBOBOX        IDC_COMPARE_RIGHT_SOURCE,60,79,100,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "File:",IDC_COMPARE_RIGHT_FILE_LABEL,16,94,40,8
    EDITTEXT        IDC_COMPARE_RIGHT_FILE,60,92,411,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_COMPARE_RIGHT_BROWSE,476,92,52,11
    LTEXT           "Key:",IDC_STATIC,16,107,40,8
    COMBOBOX        IDC_COMPARE_RIGHT_KEY,60,105,410,120,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Recursive",IDC_COMPARE_RIGHT_RECURSIVE,478,107,70,10

    GROUPBOX        "Results",IDC_STATIC,8,128,280,24
    AUTORADIOBUTTON "Both",IDC_COMPARE_SHOW_BOTH,16,137,36,10,WS_GROUP
    AUTORADIOBUTTON "Only differences",IDC_COMPARE_SHOW_DIFFERENCES,56,137,88,10
    AUTORADIOBUTTON "Only matching",IDC_COMPARE_SHOW_MATCHING,148,137,88,10

    DEFPUSHBUTTON   "Compare",IDOK,462,141,45,11
    PUSHBUTTON      "Cancel",IDCANCEL,512,141,40,11
END

IDD_CONVERT DIALOGEX 0, 0, 560, 159
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Convert File"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "Input",IDC_STATIC,8,6,544,58
    LTEXT           "Source:",IDC_STATIC,16,20,36,8
    COMBOBOX        IDC_CONVERT_SOURCE,60,18,90,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "File:",IDC_CONVERT_INPUT_LABEL,16,33,40,8
    EDITTEXT        IDC_CONVERT_INPUT,60,31,411,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_CONVERT_INPUT_BROWSE,476,31,52,11
    LTEXT           "Key:",IDC_STATIC,16,46,40,8
    COMBOBOX        IDC_CONVERT_KEY,60,44,410,120,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Recursive",IDC_CONVERT_RECURSIVE,478,46,70,10

    GROUPBOX        "Output",IDC_STATIC,8,67,544,45
    LTEXT           "Format:",IDC_STATIC,16,81,36,8
    COMBOBOX        IDC_CONVERT_FORMAT,60,79,90,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "File:",IDC_STATIC,16,94,40,8
    EDITTEXT        IDC_CONVERT_OUTPUT,60,92,411,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_CONVERT_OUTPUT_BROWSE,476,92,52,11

    GROUPBOX        "Options",IDC_STATIC,8,115,300,37
    AUTOCHECKBOX    "Check for administrator rights outside HKCU",IDC_CONVERT_ADMIN,16,125,200,10
    AUTOCHECKBOX    "Open the converted file in an editor",IDC_CONVERT_OPEN,16,137,200,10

    DEFPUSHBUTTON   "Convert",IDOK,462,141,45,11
    PUSHBUTTON      "Cancel",IDCANCEL,512,141,40,11
END

IDD_REPLACE DIALOGEX 0, 0, 288, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Find what:",IDC_STATIC,7,8,56,8
    EDITTEXT        IDC_REPLACE_FIND,68,6,213,11,ES_AUTOHSCROLL
    LTEXT           "Replace with:",IDC_STATIC,7,21,56,8
    EDITTEXT        IDC_REPLACE_WITH,68,19,213,11,ES_AUTOHSCROLL
    GROUPBOX        "Where to search",IDC_STATIC,7,36,274,28
    LTEXT           "Key:",IDC_STATIC,14,49,20,8
    EDITTEXT        IDC_REPLACE_KEY,36,47,188,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_REPLACE_BROWSE,228,47,46,11
    GROUPBOX        "Options",IDC_STATIC,7,70,274,80
    AUTOCHECKBOX    "Recursive",IDC_REPLACE_RECURSIVE,14,81,126,10
    AUTOCHECKBOX    "Match whole string",IDC_REPLACE_WHOLE,14,92,126,10
    AUTOCHECKBOX    "Match case",IDC_REPLACE_CASE,14,103,126,10
    AUTOCHECKBOX    "Regular expressions",IDC_REPLACE_REGEX,14,114,126,10
    AUTOCHECKBOX    "Replace in key names",IDC_REPLACE_KEYS,146,81,128,10
    AUTOCHECKBOX    "Replace in value names",IDC_REPLACE_VALUES,146,92,128,10
    AUTOCHECKBOX    "Replace in value data",IDC_REPLACE_DATA,146,103,128,10
    GROUPBOX        "Value Data",IDC_REPLACE_VALUE_GROUP,14,125,260,21
    AUTOCHECKBOX    "Numbers as decimal",IDC_REPLACE_DECIMAL,21,134,90,10
    AUTOCHECKBOX    "Numbers as hex",IDC_REPLACE_HEX,116,134,80,10
    DEFPUSHBUTTON   "Replace",IDOK,191,156,45,11
    PUSHBUTTON      "Cancel",IDCANCEL,241,156,40,11
END

IDD_TRACE_SELECT DIALOGEX 0, 0, 311, 256
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Trace"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "",IDC_TRACE_STATUS,7,6,297,8
    CONTROL         "",IDC_TRACE_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,17,297,198
    PUSHBUTTON      "Select All Keys",IDC_TRACE_SELECT_ALL,7,221,72,11
    AUTOCHECKBOX    "Recursive",IDC_TRACE_RECURSIVE,84,222,90,10
    DEFPUSHBUTTON   "Select",IDOK,219,238,40,11
    PUSHBUTTON      "Cancel",IDCANCEL,264,238,40,11
END

IDD_FIND DIALOGEX 0, 0, 334, 359
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Find what:",IDC_STATIC,7,8,52,8
    COMBOBOX        IDC_FIND_WHAT,64,6,263,120,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Where to search",IDC_STATIC,7,23,320,50
    AUTORADIOBUTTON "Top level keys",IDC_FIND_SCOPE_TOP,14,33,82,10,WS_GROUP | WS_TABSTOP
    COMBOBOX        IDC_FIND_SCOPE_ROOTS,100,32,220,80,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_TABSTOP
    AUTORADIOBUTTON "Specific key",IDC_FIND_SCOPE_KEY,14,46,82,10
    EDITTEXT        IDC_FIND_SCOPE_EDIT,100,45,170,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_FIND_BROWSE,274,45,46,11
    AUTOCHECKBOX    "Recursive",IDC_FIND_RECURSIVE,100,59,100,10
    GROUPBOX        "Search options",IDC_STATIC,7,79,320,133
    AUTOCHECKBOX    "Search keys",IDC_FIND_KEYS,14,89,150,10
    AUTOCHECKBOX    "Search values",IDC_FIND_VALUES,14,100,150,10
    AUTOCHECKBOX    "Search data",IDC_FIND_DATA,14,111,150,10
    AUTOCHECKBOX    "Search comments",IDC_FIND_COMMENTS,14,122,150,10
    AUTOCHECKBOX    "Search Root Keys",IDC_FIND_ROOT_KEYS,14,133,150,10
    AUTOCHECKBOX    "Search REGISTRY",IDC_FIND_REGISTRY,14,144,150,10
    AUTOCHECKBOX    "Search Trace Values",IDC_FIND_TRACE,14,155,150,10
    AUTOCHECKBOX    "Search Default Data",IDC_FIND_DEFAULTS,14,166,150,10
    AUTOCHECKBOX    "Search Offline Hives",IDC_FIND_OFFLINE,14,177,150,10
    AUTOCHECKBOX    "Search .reg File Tabs",IDC_FIND_REG_FILES,14,188,150,10
    AUTOCHECKBOX    "Search Network Registry",IDC_FIND_REMOTE,14,199,150,10
    AUTOCHECKBOX    "Min data size (bytes):",IDC_FIND_MIN_SIZE,170,89,98,10
    EDITTEXT        IDC_FIND_MIN_SIZE_EDIT,272,88,48,11,ES_AUTOHSCROLL
    AUTOCHECKBOX    "Max data size (bytes):",IDC_FIND_MAX_SIZE,170,100,98,10
    EDITTEXT        IDC_FIND_MAX_SIZE_EDIT,272,99,48,11,ES_AUTOHSCROLL
    AUTOCHECKBOX    "Match case",IDC_FIND_CASE,170,111,150,10
    AUTOCHECKBOX    "Match whole string",IDC_FIND_WHOLE,170,122,150,10
    AUTOCHECKBOX    "Regular expressions",IDC_FIND_REGEX,170,133,150,10
    AUTOCHECKBOX    "Skip symbolic links",IDC_FIND_SKIP_LINKS,170,144,150,10
    PUSHBUTTON      "Data Types...",IDC_FIND_DATA_TYPES,170,157,68,11
    LTEXT           "Modified in period:",IDC_STATIC,7,220,86,8
    CONTROL         "",IDC_FIND_MODIFIED_FROM,"SysDateTimePick32",DTS_SHORTDATEFORMAT | DTS_SHOWNONE | WS_TABSTOP,96,218,86,11
    LTEXT           "-",IDC_STATIC,185,220,6,8
    CONTROL         "",IDC_FIND_MODIFIED_TO,"SysDateTimePick32",DTS_SHORTDATEFORMAT | DTS_SHOWNONE | WS_TABSTOP,193,218,86,11
    GROUPBOX        "Exclude keys",IDC_STATIC,7,235,320,35
    AUTOCHECKBOX    "Exclude keys",IDC_FIND_EXCLUDE,14,244,150,10
    EDITTEXT        IDC_FIND_EXCLUDE_EDIT,14,256,252,11,ES_AUTOHSCROLL
    PUSHBUTTON      "Edit...",IDC_FIND_EXCLUDE_BUTTON,270,256,50,11
    GROUPBOX        "Result options",IDC_STATIC,7,276,320,59
    AUTORADIOBUTTON "Reuse last Find Results window",IDC_FIND_RESULT_REUSE,14,285,200,10,WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Open new Find Results window",IDC_FIND_RESULT_NEW,14,296,200,10
    AUTOCHECKBOX    "Open result in new tab",IDC_FIND_RESULT_TAB,14,307,200,10,WS_GROUP
    AUTOCHECKBOX    "Limit results to",IDC_FIND_LIMIT,14,321,78,10
    EDITTEXT        IDC_FIND_LIMIT_EDIT,104,320,40,11,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Find",IDOK,240,341,40,11
    PUSHBUTTON      "Cancel",IDCANCEL,285,341,40,11
END
